*, *:before, *:after {
    border: none;
    box-sizing: inherit;
    font: inherit;
    margin: 0;
    overflow: inherit;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow: visible;
}

body {
    background: #faf7f2;
    color: #223a5e;
    font: 200 1.6rem/2.6rem "Open Sans", Sans-Serif;
    margin: 2.6rem;
    text-align: right;
}

h1 {
    font-family: Changa, Sans-Serif;
    font-size: 4.2rem;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
}

img {
    border: .2rem solid #b87333;
    border-radius: 50%;
    float: right;
    height: 6.8rem;
    margin-left: 1.3rem;
}

a {
    color: inherit;
}
